/*Search and Image Search*/
#nav_bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

#link_box {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.link_div {
    width: 120px;
    height: 20px;
    margin-top: 15px;
}

a {
    color: black;
    text-decoration-line: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
    display: block;
    text-align: center;
}

#logo_box {
    width: 100%;
    height: 300px;
    border: 1px solid transparent;
}

.google_logo {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 207px;
}

#search_box {
    width: 100%;
    height: 150px;
}

#input_field {
    width: 520px;
    height: 43px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.158);
    margin-top: 20px;
    padding-left: 40px;
}

#input_field:focus {
    outline-style: none;
}

#button_div {
    width: 330px;
    height: 60px;
    margin-top: 30px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.button_style {
    width: 140px;
    height: 37px;
    background-color: rgba(0, 0, 0, 0.030);
    padding: 0px 16px;
    margin: 11px 4px;
    border: 1px solid rgba(0, 0, 0, 0.030);
}

.button_style:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

/*================ADVANCED SEARCH=================*/
#mini_google_logo {
    width: 100px;
    height: 33px;
    margin-top: 8px;
}

#top_text_div {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

#top_text {
    color: red;
    font-family: Arial, sans-serif;
    display: block;
    font-size: 25px;
    margin: 0px 0px;
    padding: 25px 50px;
}

#main_div {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.one_line{
    width: 800px;
    height: 50px;
    margin: 10px 12px;
    display: flex;
    justify-content: space-around;
}

.text_type {
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: block;
}

.input_type {
    width: 556px;
    height: 30px;
    display: block;
    margin-top: 6px;
}

#nav_bar_advanced {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}



